body {
    background-image: url("MainBackgroundImage.jpeg");
    background-color: white;
    text-align: center;
    height: 1080px;
    /* width: 1080px; You must set a specified height */
    /* background-size: 900px; */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position-y: top;
    background-position-x: center;
    background-attachment: fixed;
    background-size: contain;
    /* opacity: .5; */
}

#leftDiv {
    float: left;
    width: 49%;
    border: 2px solid black;
    opacity: .8;
}

#leftDiv:hover {
    background-color: gray;
    opacity: .8;
}

#rightDiv {
    float: right;
    width: 49%;
    border: 2px solid black;   
}

#rightDiv:hover{
    background-color: gray;
    opacity: .8;
}

/* #charSelectDiv {
    display: flex;
    flex-direction: column;
} */

.statDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    size: 20pt;
    /* background-color: gray ; */
}

#statTitle {
    flex: 0 0 19%; 
    border: 2px dotted black;
    padding: 0;
    margin-top: 10px
}

#statValue {
    flex: 0 0 19%; 
    border: 2px dotted black;
    margin: 0;
    margin-bottom: 20px;
}