body {
    background-image: url("MainBackgroundImage.jpeg");
    background-color: white;
    text-align: center;
    /* height: 1080px; */
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-attachment: fixed;
    background-size: contain;
}

#leftDiv {
    float: left;
    width: 49%;
    border: 2px solid black;
    /* position: fixed; */
    opacity: .4;
    background-image: url("parchment_background.jpg");
    
}

#leftDiv:hover {
    background-color: gray;
    opacity: 1;
    width: 49%;
    position: relative;
}

#rightDiv {
    float: right;
    width: 49%;
    border: 2px solid black; 
    background-image: url("parchment_background.jpg");
    opacity: .4;
    /* display: flex;   */
}

#rightDiv:hover{
    /* background-color: gray; */
    opacity: 1;
    
}

.statDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    size: 20pt;
}

#statTitle {
    flex: 0 0 19%; 
    border: 2px dotted black;
    padding: 0;
    margin-top: 10px
}

#statValue {
    flex: 0 0 19%; 
    border: 2px dotted black;
    margin: 0;
    margin-bottom: 20px;
}

#armyPoints {
    flex: 0 0 100%;
    flex-direction: row
}

.modelDiv {
    border: 2px solid black
}

.pointsDiv {
    float: left;
    margin-right: 20px
}

.wpnDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* height: 55px; */
    /* flex: 1 1 1 1 1 1 1 100% */
}

.wpnStat {
    /* flex: 0 0 10%;  */
    border: 2px dotted black;
    margin: 0;
    margin-bottom: 20px;
    width: 13%;
    height: 70px;
    align-items: center;
}

.titleStat{
     /* flex: 0 0 10%;  */
     /* border: 2px dotted black; */
     margin: 0;
     /* margin-bottom: 20px; */
     width: 13%;
     /* height: 60px; */
     align-items: center;
}

.titleDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wpnStatDiv {
    margin-top: 20px;
}

.wpnRulesDiv {
    display: flex;
    justify-content: center;
    /* margin-top: 5px; */
    /* height: 20px; */
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.wpnData {
    padding-right: 4px;
}

.tierButton {
    margin-bottom: 10px
}

#printDiv{
    background-color: gray;
}

.pHeaderDiv{
    display: flex;
}

.pModelNameDiv{
    width: 85%;
}

.pHeaderStatDiv{
    text-align: start;
}

.pModelStatsDiv{
    justify-content: space-evenly;
    margin: auto;
    text-align: -webkit-center;
}

.pModelStatTitleDiv{
    display: flex;
    width: 50%;
    justify-content: space-around;
    border: 1px solid black
}

.pModelStatDiv{
    display: flex;
    width: 50%;
    justify-content: space-around;
    border: 1px solid black
}

.pWpnStatTitleDiv{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.pWpnStatDiv{
    border:1px solid black
}

.pWpnStat {
    
    margin: 0;
    padding-top: 50%;
    align-items: center;
}

.pWpnStatContainer{
    display: grid;
    grid-template-columns: 30% 5% 5% 5% 5% 50%;
    border: 1px solid black;
}

.pEquipStatDiv{
    display: grid;
    grid-template-columns: 30% 15% 5% 50%;
    /* border: 1px solid black; */
}

.pEquipStatTitleDiv{
    display: grid;
    grid-template-columns: 30% 15% 5% 50%;
    /* border: 1px solid black; */
}
