body {
    background-image: url("MainBackgroundImage.jpeg");
    background-color: white;
    text-align: center;
    height: 1080px;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-attachment: fixed;
    background-size: contain;
}

#leftDiv {
    float: left;
    width: 49%;
    border: 2px solid black;
    position: fixed;
}

#leftDiv:hover {
    background-color: gray;
    opacity: .8;
    width: 49%
}

#rightDiv {
    float: right;
    width: 49%;
    border: 2px solid black; 
    /* display: flex;   */
}

#rightDiv:hover{
    background-color: gray;
    opacity: .8;
    
}

.statDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    size: 20pt;
}

#statTitle {
    flex: 0 0 19%; 
    border: 2px dotted black;
    padding: 0;
    margin-top: 10px
}

#statValue {
    flex: 0 0 19%; 
    border: 2px dotted black;
    margin: 0;
    margin-bottom: 20px;
}

#armyPoints {
    flex: 0 0 100%;
    flex-direction: row
}

.modelDiv {
    border: 2px solid black
}

.pointsDiv {
    float: left;
    margin-right: 20px
}